@charset "utf-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 컬러 변수 */
$color-txt-black : #333;
$color-txt-white : #fff;
$color-txt-blue1 : #225499;
$color-txt-blue2 : #3B8BAE;
$color-txt-blue3 : #052B58;

$color-bg-black : #1c1a1d;
$color-bg-yellow : yellow;

$color-nav1 : #00b3ff;
$color-nav2 : #006EFF;

$color-line-gray: #ccc;

/* 글자 크기 변수 */
$fz-s : 14px;
$fz-m : 16px;

$fz-title1 : 24px;
$fz-title2 : 20px;
$fz-title3 : 34px;

/* 트랜지션 변수 */
$ani-time03: 0.3s;
$ani-time05: 0.5s;

/* mixin */
@mixin arrow-btn() {
  width: 30px;
  height: 30px;
  border-left: 2px solid $color-txt-white;
  border-bottom: 2px solid $color-txt-white;
  transform: rotate(-45deg);
}

@mixin btn() {
  display: inline-block;
  min-width: 150px;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid $color-txt-black;
  transition: $ani-time03;
  box-sizing: border-box;
}