@charset "utf-8";
@use 'common' as *;

/* reset */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: $fz-s;
  color: $color-txt-black;
  background: $color-txt-white;
  line-height: 1.4;
  box-sizing: border-box;
}

a {
  color: $color-txt-black;
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* common */
html,
body {
  scroll-behavior: smooth;
}

.inner {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 80px 0;
  box-sizing: border-box;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: $ani-time03;

  &.h-on {
    background: rgba($color: $color-txt-white, $alpha: 0.9);
    color: $color-txt-black;

    * {
      color: inherit !important;
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding: 24px 0;
  }

  nav {
    .gnb {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;

      a {
        color: $color-txt-white;
        font-size: $fz-m;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .right-nav {
    display: flex;
    gap: 10px;

    li {
      color: $color-txt-white;
      font-size: $fz-title2;

      i {
        cursor: pointer;
      }
    }
  }
}

/* footer */
footer {
  background: $color-bg-black;

  .inner {
    display: grid;
    grid-template-areas:
      'item01 item02'
      'item01 item03';
    gap: 10px 50px;
    padding: 40px 0;
  }

  h2 {
    grid-area: item01;
  }

  .f-lnb {
    grid-area: item02;

    ul {
      display: flex;
      gap: 20px;

      li {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -10px;
          width: 1px;
          height: 10px;
          background: $color-line-gray;
        }

        &:last-child::after {
          display: none;
        }

        a {
          color: $color-line-gray;
          font-size: $fz-m;

          &:hover {
            text-decoration: underline;
          }
        }

        &:nth-child(2) a {
          color: $color-txt-white;
        }
      }
    }
  }

  address {
    grid-area: item03;
    color: $color-line-gray;
    line-height: 20px;

    dl {
      display: flex;
      flex-wrap: wrap;
      gap: 0 30px;

      dt,
      dd {
        display: inline-block;
      }

      p {
        text-transform: uppercase;
      }
    }

  }
}

/* main */
/* aside */
#m-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 10;
  width: 200px;
  height: 240px;

  ul {
    position: relative;

    li {
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      text-align: center;
      transition: $ani-time05;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50px;
      }

      &:nth-child(3) {
        top: 100px;
      }

      &:nth-child(4) {
        top: 150px;
      }

      &:nth-child(5) {
        top: 200px;
      }

      .num {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color-nav1;
        color: $color-txt-white;
        text-align: center;
        font-size: bold;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: $color-txt-white;
      }

      &:hover {
        width: 100%;
        background: rgba($color: $color-txt-black, $alpha: 0.8);

        .num {
          background: $color-nav2;
        }
      }
    }
  }
}