@charset "utf-8";
@use 'common' as *;

/* 영상 */
#movie {
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#top3 {
  height: 1146px;
  background: #c4dadd;
}

#intro {
  height: 1146px;
  background: #b6dbe0;
}

#test-drive {
  height: 923px;
  background: #99dee7;
}

#event {
  height: 923px;
  background: #70cad6;
}

#buy {
  height: 923px;
  background: #51c8d8;
}

#customer {
  height: 923px;
  background: #31cde2;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba($color: $color-bg-black, $alpha: 0.8);

  .modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-txt-white;
  }

  .txt-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    input {
      margin: 0;
      vertical-align: top;
    }

    .close {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}