@charset "UTF-8";
/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* 컬러 변수 */
/* 글자 크기 변수 */
/* 트랜지션 변수 */
/* mixin */
/* common */
.main-title {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.main-desc {
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
}

/* 영상 */
#movie {
  position: relative;
  width: 100%;
  height: 100vh;
}
#movie video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#movie .m-info {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
}
#movie .m-info h2 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
#movie .m-info p {
  margin-bottom: 30px;
  font-size: 16px;
}
#movie .m-info li {
  display: inline-block;
  margin: 0 10px;
}
#movie .m-info a {
  padding: 3px 10px;
  color: #fff;
  text-decoration: underline;
}
#movie .m-info li:first-child a {
  background: #006EFF;
}
#movie .next-btn {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}

/* 가장 많이 찾은 캐스퍼 */
#top3 .swiper-slide {
  text-align: center;
}
#top3 .swiper-slide .rank {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #3B8BAE;
  color: #3B8BAE;
  border-radius: 20px;
}
#top3 .swiper-slide h3 {
  margin-bottom: 50px;
  color: #052B58;
  font-size: 24px;
  font-weight: bold;
}
#top3 .swiper-slide .img-box {
  width: 50%;
  margin: 0 auto 50px;
  transform: scale(0);
  transition: 0.5s;
}
#top3 .swiper-slide .img-box img {
  width: 100%;
}
#top3 .swiper-slide ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 50px;
  -moz-text-align-last: left;
       text-align-last: left;
}
#top3 .swiper-slide li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  line-height: 1.6;
}
#top3 .swiper-slide li:last-child {
  color: #052B58;
}
#top3 .swiper-slide li::after {
  content: "";
  display: block;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background: #ccc;
}
#top3 .swiper-slide li:last-child::after {
  display: none;
}
#top3 .swiper-slide li .color {
  display: inline-block;
  width: 40px;
  height: 30px;
  border: 1px solid #ccc;
}
#top3 .swiper-slide li .color.kaki {
  background: #494b3e;
}
#top3 .swiper-slide li .color.black {
  background: #000;
}
#top3 .swiper-slide li .color.white {
  background: #fff;
}
#top3 .swiper-slide li .color.orange {
  background: #be5600;
}
#top3 .swiper-slide li strong {
  font-size: 24px;
}
#top3 .swiper-slide .btn {
  display: inline-block;
  min-width: 150px;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #333;
  transition: 0.3s;
  box-sizing: border-box;
}
#top3 .swiper-slide .btn:hover {
  background: #333;
  color: #fff;
}
#top3 .swiper-slide-active .img-box {
  transform: scale(1);
}
#top3 .swiper-button-next,
#top3 .swiper-button-prev {
  color: #333;
}
#top3 .swiper-pagination {
  bottom: 50px;
}
#top3 .swiper-pagination-bullet {
  width: 100px;
  border-radius: 5px;
}
#top3 .swiper-pagination-bullet-active {
  background: #052B58;
}

/* 소개 */
#intro {
  height: 1146px;
  background: #b6dbe0;
}

/* 시승 신청 */
#test-drive {
  height: 923px;
  background: #99dee7;
}

/* 이벤트 & 프로모션 */
#event {
  height: 923px;
  background: #70cad6;
}

/* 캐스퍼 구매 안내 */
#buy {
  height: 923px;
  background: #51c8d8;
}

/* 고객지원 */
#customer {
  height: 923px;
  background: #31cde2;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(28, 26, 29, 0.8);
}
.modal .modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.modal .txt-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.modal .txt-box input {
  margin: 0;
  vertical-align: top;
}
.modal .txt-box .close {
  background: none;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */