@charset "utf-8";
@use 'common' as *;

/* common */
.main-title {
  // padding: 80px 0 10px;
  margin-bottom: 20px;
  font-size: $fz-title3;
  font-weight: bold;
  text-align: center;
}

.main-desc {
  margin-bottom: 50px;
  font-size: $fz-m;
  text-align: center;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba($color: $color-bg-black, $alpha: 0.8);

  .modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-txt-white;
  }

  .txt-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    input {
      margin: 0;
      vertical-align: top;
    }

    .close {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

/* 영상 */
#movie {
  position: relative;
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .m-info {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: $color-txt-white;

    h2 {
      margin-bottom: 30px;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 30px;
      font-size: $fz-m;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      padding: 3px 10px;
      color: $color-txt-white;
      text-decoration: underline;
    }

    li:first-child a {
      background: $color-nav2;
    }
  }

  .next-btn {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    @include arrow-btn();
    transform: translateX(-50%) rotate(-45deg);
  }
}

/* 가장 많이 찾은 캐스퍼 */
#top3 {
  .inner {
    padding-bottom: 110px;
  }

  .swiper-slide {
    text-align: center;

    .rank {
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 10px;
      border: 1px solid $color-txt-blue2;
      color: $color-txt-blue2;
      border-radius: 20px;
    }

    h3 {
      margin-bottom: 50px;
      color: $color-txt-blue3;
      font-size: $fz-title1;
      font-weight: bold;
    }

    .img-box {
      width: 50%;
      margin: 0 auto 50px;
      transform: scale(0);
      transition: $ani-time05;

      img {
        width: 100%;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-bottom: 50px;
      text-align-last: left;
    }

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      position: relative;
      line-height: 1.6;

      &:last-child {
        color: $color-txt-blue3;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 100%;
        background: $color-line-gray;
      }

      &:last-child::after {
        display: none;
      }

      .color {
        display: inline-block;
        width: 40px;
        height: 30px;
        border: 1px solid $color-line-gray;

        &.kaki {
          background: #494b3e;
        }

        &.black {
          background: #000;
        }

        &.white {
          background: #fff;
        }

        &.orange {
          background: #be5600;
        }
      }

      strong {
        font-size: $fz-title1;
      }
    }

    .btn {
      @include btn();
    }
  }

  .swiper-slide-active {
    .img-box {
      transform: scale(1);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $color-txt-black;
  }

  .swiper-pagination {
    bottom: 80px;
  }

  .swiper-pagination-bullet {
    width: 100px;
    border-radius: 5px;
  }

  .swiper-pagination-bullet-active {
    background: $color-txt-blue3;
  }
}

/* 소개 */
#intro {
  overflow: hidden;
  position: relative;
  height: 100vh;
  padding: 80px 0;
  background: url('../images/intro.jpg') no-repeat center center / cover;

  .inner {
    height: 100%;
  }

  p {
    position: absolute;
    font-size: $fz-title3;
    font-weight: bold;
    line-height: 1.4;
    transition: $ani-time05;

    &.left {
      top: 200px;
      left: -250px;
    }

    &.left.act {
      left: 100px;
    }

    &.right {
      bottom: 200px;
      right: -250px;
      text-align: right;
    }

    &.right.act {
      right: 100px;
    }
  }

  .btn {
    @include btn();
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 시승 신청 */
#test-drive {
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
  }

  .main-title {
    width: 100%;
  }

  .main-desc {
    width: 100%;
  }

  article {
    .drive-box {
      position: relative;
      width: 400px;
      margin-bottom: 20px;
      padding: 30px 40px 70px 40px;
      border: 1px solid $color-line-gray;
      text-align: center;
    }

    .drive-tit {
      margin-bottom: 20px;
      font-size: $fz-title1;
      font-weight: bold;
      line-height: 1.4;
    }

    .drive-desc {
      margin-bottom: 30px;
    }

    .drive-btn1 {
      @include btn();
      background: $color-txt-blue3;
      color: $color-txt-white;
    }

    .drive-btn2 {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      color: $color-txt-blue1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* 이벤트 & 프로모션 */
#event {
  background: $color-line-gray;

  .inner {
    padding-bottom: 110px;
  }

  .swiper-pagination {
    bottom: 80px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    width: 80px;
    background: $color-txt-blue1;
    border-radius: 5px;
  }
}

/* 캐스퍼 구매 안내 */
#buy {
  .buy-tit {
    margin-bottom: 50px;
    font-size: $fz-title1;
    font-weight: bold;
    text-align: center;

    span {
      color: $color-txt-blue2;
    }
  }

  .buy-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 20px;
    margin-bottom: 50px;
    text-align: center;

    h4 {
      margin-bottom: 10px;
      font-size: $fz-title2;
      font-weight: bold;
    }

    img {
      height: 70px;
      margin-bottom: 10px;
    }

    p {
      line-height: 1.4;
    }
  }

  iframe {
    width: 100%;
    height: 670px;
  }
}

/* 고객지원 */
#customer {
  background: $color-line-gray2;

  .customer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;

    // common
    .customer-tit {
      margin-bottom: 10px;
      font-size: $fz-title2;
    }

    .btn-link {
      display: block;
      color: $color-nav2;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      position: relative;
      padding: 30px;
      background: $color-txt-white;
      box-sizing: border-box;

      &.ars-box {
        grid-area: 1/1/2/5;
      }

      &.banner-box {
        grid-area: 3/1/4/5;
        padding: 0;
        background: none;
      }

      .customer-desc {
        margin-bottom: 10px;
      }

      .customer-disc {
        color: #999;
        font-size: 0.9rem;
      }

      .customer-img {
        margin-top: 30px;
        text-align: center;

        img {
          width: 50px;
        }

        .btn-link {
          display: inline-block;
          margin: 0 10px;
        }
      }

      .btn-normal {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        padding: 10px;
        background: $color-txt-blue3;
        color: $color-txt-white;
        text-align: center;
      }
    }

    .ars-box {
      display: flex;
      flex-wrap: wrap;

      .customer-tit {
        width: 100%;
        text-align: center;
      }

      .box {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 50%;
        padding-bottom: 30px;
        box-sizing: border-box;

        &.left {
          border-right: 1px solid $color-line-gray;
        }
      }

      .txt {
        position: relative;
        text-align: center;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 110px;
          left: 50%;
          transform: translateX(-50%);
          width: 75px;
          height: 46px;
          background: url('../images/bg-support-ars.png') no-repeat 0 center / cover;
        }

        strong {
          display: block;
          margin-bottom: 10px;
          font-size: $fz-m;
        }
      }

      .right .txt::after {
        width: 60px;
        background-position-x: 100%;
      }

      dl {
        dt {
          font-weight: bold;
        }

        dd+dt {
          margin-top: 10px;
        }
      }
    }
  }
}